.cartContainer {
    box-sizing: border-box;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    margin: 20px auto;
    background: rgb(7,112,25);
    background: linear-gradient(90deg, rgba(7,112,25,1) 0%, rgba(26,168,49,0.9489559164733179) 78%, rgba(27,133,37,1) 98%);
    padding: 15px;
    box-shadow: 2px 1px 1px #474747b2;
    border-radius: 5px;
    text-align: center;
}
.nombre{
    font-size: 28px;
    color: rgb(223, 232, 225);
}
.precioU{
    font-size: 25px;
    color: rgb(223, 232, 225);
}
.productName{
    width: 450px;
    margin: 5px 5px 5px 5px;
}
.productImg{
    width: 200px;
    height: 120px;
    background-color: antiquewhite;
}
.productImg img{
    width: 180px;
}
.productU{
    width: 300px;
}
.productU h2{
    margin-bottom: 20px;
}
.productTotal{
    width: 220px;
}
.BtnEliminar{
    font-size: 15px;
    border-radius: 20px;
    width: 80px;
    height: 70px;
    transition: 0.3s;
    border-style: none;
}
.BtnEliminar:hover{
    background-color: rgb(243, 47, 47);
    transition: 0.3s;
}
.text{
    margin-top: 30px;
    font-size: 28px;
}
.btnComenzar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(238, 234, 234);
}
.btnContainerr{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 10px;
    width: 200px;
    height: 45px;
    background-color: rgb(16, 112, 29);
    margin-top: 50px;
}
.boxBtn{
    display: flex;
    align-items: center;
    width: 450px;
    height: 120px;
    margin: 0 auto;
}
.btnComenzar:hover{
    color: rgb(252, 248, 248);
    filter: brightness(2);
    box-shadow: 0px 0px 16px 0px rgba(37,201,42,0.61);
    border-radius: 20px;
}
.limpiarContainer{
    display: inline-block;
    border: solid grey 1px;
    border-radius: 25px;
    width: 200px;
    height: 45px;
    background-color: rgb(16, 112, 29);
}
.limpiar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    display: inline-block;
    border: none;
    background-color: rgb(16, 112, 29);
    padding-top: 13px;
    border-radius: 25px;
    color: rgb(238, 234, 234);
    cursor: pointer;
}
.limpiar:hover{
    background-color: red;
}
.totalP{
    font-size: 25px;
}